---
interface Props {
  title: string
  description: string
  tecnologies: string[]
  img: string
}

const { title, description, tecnologies, img } = Astro.props
---

<div class='swiper-slide'>
  <div class='md:w-[550px] pb-4 bg-white bg-opacity-10 overflow-hidden cursor-pointer'>
    <img
      src={img}
      alt={title}
      class='object-cover rounded-t md:w-[550px] md:h-[400px] hover:scale-105 transition-transform'
    />
    <div class='px-2 space-y-6'>
      <div>
        <h4 class='text-lg font-bold mt-2 text-center'>{title}</h4>
        <p class='whitespace text-center'>
          {description}
        </p>
      </div>
      <div class='space-y-2'>
        <h6 class='text-lg font-bold'>Tecnologies</h6>
        <ul class='flex gap-4 flex-wrap'>
          {
            tecnologies.map((tecnology) => (
              <li class='bg-gradient-to-t from-primary to-secondary text-black px-2 rounded'>
                {tecnology}
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </div>
</div>
